aiohttp==3.8.1
aiohttp-socks==0.7.1
aiorpcX==0.22.0
aiosignal==1.2.0
alabaster==0.7.12
alembic==1.7.5
aniso8601==9.0.1
anyio==3.6.1
anytree==2.8.0
apipkg==2.1.1
apparmor==3.0.4
appdirs==1.4.4
application-utility==1.3.2
apsw==3.38.1.post1
argh==0.26.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow==1.2.1
asciidoc==10.2.0
asgiref==3.5.2
asn1crypto==1.5.1
astroid==2.11.6
asttokens==2.0.5
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.4.0
attrs==21.4.0
Automat==20.2.0
autopep8==1.6.0
Babel==2.10.3
backcall==0.2.0
bauh==0.10.3
bcrypt==3.2.1
Beaker==1.11.0
beautifulsoup4==4.10.0
bitstring==3.1.9
black==22.3.0
bleach==4.1.0
blinker==1.4
blkinfo==0.2.0
Brotli==1.0.9
brotlicffi==1.0.9.2
btrfsutil==5.18.1
build==0.8.0
CacheControl==0.12.6
cachy==0.3.0
cairocffi==1.3.0
casttube==0.2.1
cchardet==2.1.7
ceph==1.0.0
ceph-deploy @ git+https://github.com/ceph/ceph-deploy.git@a16316fc4dd364135b11226df42d9df65c0c60a2
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
cleo==0.8.1
click==7.1.2
click-completion==0.5.2
clikit==0.6.2
cloudpickle==2.1.0
colorama==0.4.4
colour==0.1.5
commonmark==0.9.1
conda==4.1.6
configobj==5.1.0.dev0
constantly==15.1.0
contextlib2==21.6.0
coverage==6.1.1
crashtest==0.3.1
cryptography==37.0.2
css-parser==1.0.6
cssselect==1.1.0
cupshelpers==1.0
Cython==0.29.30
dataviewer @ file:///home/elmar/Projects/dataviewer
dbus-python==1.2.18
debugpy==1.6.0
decorator==5.1.1
defusedxml==0.7.1
deluge==2.0.5
diff-match-patch==20200713
dill==0.3.4
discid==1.2.0
distlib==0.3.4
distro==1.7.0
Django==4.0.5
djangotoolbox==1.8.0
dlib==19.24.0
dnspython==2.2.1
docopt==0.6.2
docutils==0.18.1
easygui==0.98.0
ecdsa==0.17.0
Electrum==4.2.0
email-validator==1.1.3
entrypoints==0.4
esbonio==0.11.2
evdev==1.5.0
execnet==1.9.0
executing==0.8.3
extras==1.0.0
fasteners==0.17.3
feedparser==6.0.3
fido2==1.0.0
file-magic==0.4.0
filelock==3.5.1
first==2.0.2
fixtures==3.0.0
flake8==4.0.1
Flask==2.1.2
Flask-BabelEx==0.9.4
Flask-Compress==1.12
Flask-Gravatar==0.5.0
Flask-Login==0.6.1
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
flask-restx==0.5.1
Flask-Security-Too==4.1.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
frozenlist==1.3.0
future==0.18.2
GDAL==3.4.3
GeoAlchemy2==0.9.2
GeoIP==1.3.2
gpg==1.17.1
gphoto2==2.3.2
gps==3.24
greenlet==1.1.2
gssapi==1.7.3
gunicorn==20.1.0
gyp==0.1
h11==0.12.0
hanmatek-cli==0.0.0
helpdev==0.7.1
hidapi==0.12.0.post2
hovercraft==2.7
html2text==2020.1.16
html5-parser==0.4.10
html5lib==1.1
httpcore==0.15.0
httplib2==0.20.3
httpx==0.23.0
hyperlink==21.0.0
idna==3.3
ifaddr==0.1.7
imagesize==1.3.0
importlib-metadata==4.10.0
importlib-resources==5.4.0
incremental==21.3.0
iniconfig==1.1.1
installer==0.5.1
intervaltree==3.1.0
ipykernel==6.13.1
ipython==8.4.0
isodate==0.6.1
isort==5.10.1
isounidecode==0.3
itsdangerous==2.1.2
Jade-Application-Kit==3.5.7
jaraco.context==4.1.1
jaraco.functools==3.5.0
jaraco.text==3.8.0
jedi==0.18.1
jeepney==0.7.1
Jinja2==3.1.2
jsonrpclib-pelix==0.4.3.2
jsonschema==4.3.3
jupyter-client==7.3.4
jupyter-core==4.10.0
keyring==23.4.0
keyutils==0.6
kiss-headers==2.3.1
krunner-vscode @ file:///home/elmar/.cache/yay/plasma5-runners-vscode-git/src/plasma5-runners-vscode-git
lark-parser==0.12.0
lazy-object-proxy==1.7.1
ldap3==2.9
legendary-gl==0.20.27
lensfun==0.3.3
LibAppArmor==3.0.4
libarchive-c==4.0
libfdt==1.6.1
libmsym==0.2.4
libtorrent==2.0.6
libvirt-python==8.4.0
lit==13.0.1.dev0
lockfile==0.12.2
Logbook==1.5.3
louis==3.22.0
lxml==4.8.0
Mako==1.1.6
mallard-ducktype==1.0.2
manjaro-sdk==0.1
Markdown==3.3.7
MarkupSafe==2.1.1
matplotlib-inline==0.1.3
mccabe==0.7.0
mechanize==0.4.6
mercurial==6.1.4
meson==0.62.2
mistune==2.0.2
mock==3.0.5
monotonic==1.6
more-itertools==8.13.0
msgpack==1.0.3
multidict==6.0.2
multivolumefile==0.2.3
musicbrainzngs==0.7.1
mutagen==1.45.1
mypy-extensions==0.4.3
natsort==8.1.0
nest-asyncio==1.5.4
netifaces==0.11.0
netsnmp-python==1.0a1
nose==1.3.7
notify2==0.3.1
notmuch==0.36
notmuch2==0.36
npyscreen==4.10.5
nspektr==0.4.0
numpy==1.22.4
numpydoc==1.1.0
openshot-qt==2.6.1
ordered-set==4.0.2
OWSLib==0.25.0
packaging==21.0
pacman-mirrors==4.23.2
pandas==1.4.0
pandocfilters==1.5.0
paramiko==2.11.0
parso==0.8.2
passlib==1.7.4
pastel==0.2.1
pathspec==0.9.0
pathtools==0.1.2
pbkdf2==1.3
pbr==5.9.0
peewee==3.14.10
pep517==0.12.0
pexpect==4.8.0
picard==2.8.1
pickleshare==0.7.5
Pillow==9.1.1
pkginfo==1.8.3
platformdirs==2.5.1
pluggy==1.0.0
ply==3.11
poetry==1.1.13
poetry-core==1.0.8
powerline-status==2.8.2
progress==1.6
prometheus-client==0.14.1
prompt-toolkit==3.0.29
protobuf==4.21.1
protontricks==1.8.1
psutil==5.9.0
psycopg2==2.8.6
ptyprocess==0.7.0
puddletag==2.1.1
pulsectl==22.3.2
pulsemixer==1.5.1
pure-eval==0.2.2
pwquality==1.4.4
py==1.11.0
py7zr==0.18.5
pyaes==1.6.1
pyaml==21.10.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.9.2
pycairo==1.21.0
pychm==0.8.6
pycodestyle==2.8.0
pycosat==0.6.3
pycparser==2.21
pycryptodome==3.14.1
pycryptodomex==3.12.0
pycups==2.0.1
pycurl==7.45.1
pydantic==1.8.2
pydbus==0.6.0
pydocstyle==6.1.1
pyflakes==2.4.0
pygls==0.11.3
Pygments==2.12.0
PyGObject==3.42.1
PyHamcrest==1.10.1
PyJWT==2.2.0
pylast==5.0.0
pylev==1.4.0
pyliblo==0.10.0
pylint==2.14.3
PyLyrics==1.1.0
pymediainfo==5.1.0
PyNaCl==1.4.0
pyopencl==2022.1
PyOpenGL==3.1.6
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyppmd==0.18.2
pyproj==3.0.1
PyQt5==5.15.7
PyQt5-sip==12.11.0
PyQtWebEngine==5.15.6
Pyro4==4.80
pyroute2==0.6.12
pyroute2.core==0.6.12
pyroute2.ethtool==0.6.12
pyroute2.ipdb==0.6.12
pyroute2.ipset==0.6.12
pyroute2.ndb==0.6.12
pyroute2.nftables==0.6.12
pyroute2.nslink==0.6.12
pyroute2.protocols==0.6.12
pyrsistent==0.18.0
pyscard==2.0.2
PySDL2==0.9.11
pyserial==3.5
PySide2==5.15.5
PySide6==6.3.1
pysmbc==1.0.23
PySocks==1.7.1
pyspellchecker==0.6.3
pytest==7.1.2
pytest-cov==2.12.1
python-bitvavo-api==1.2.2
python-dateutil==2.8.2
python-dbusmock==0.27.5
python-decouple==3.4
python-editor==1.0.4
python-jsonrpc-server==0.4.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.3.3
python-mimeparse==1.6.0
python-rtmidi==1.4.9
python-socks==2.0.3
python-xlib==0.31
pytoml==0.1.21
pytools==2022.1.4
pytz==2022.1
pyudev==0.22.0.dev20211202
pyxdg==0.28
PyYAML==6.0
pyzmq==23.1.0
pyzstd==0.15.2
QDarkStyle==3.0.2
qrcode==7.3.1
QScintilla==2.13.3
QtAwesome==1.1.0
QTermWidget==1.1.0
qtile==0.21.0
QtPy==2.1.0
rados==2.0.0
rapid-photo-downloader==0.9.33
rawkit==0.6.0
rbd==2.0.0
rdflib==6.1.1
regex==2022.6.2
remotezip==0.9.4
remoto==1.2.1
rencode==1.0.6
reportlab==3.6.10
requests==2.27.1
requests-toolbelt==0.9.1
resolvelib==0.5.5
retrying==1.3.3
rfc3986==1.5.0
rgw==2.0.0
rich @ file:///build/python-rich/src/rich-12.4.4/dist/rich-12.4.4-py3-none-any.whl
rope==0.23.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scipy==1.8.1
SCons==4.3.0
SecretStorage==3.3.1
Send2Trash==1.8.0
serpent==1.40
service-identity==21.1.0
setproctitle==1.2.3
setuptools-scm==6.4.2
sgmllib3k==1.0.0
Shapely==1.8.2
shellingham==1.4.0
shiboken2==5.15.5
shiboken6==6.3.1
show-in-file-manager==1.1.4
simplejson==3.17.6
sip==4.19.25
six==1.16.0
smbus==1.1
sniffio==1.2.0
snowballstemmer==2.2.0
solaar==1.1.3
sortedcontainers==2.4.0
soundconverter==4.0.3
soupsieve==2.3.1
speaklater==1.3
Sphinx==5.0.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
SQLAlchemy==1.3.22
sqlparse==0.4.2
sshtunnel==0.4.0
sshuttle==1.1.0
SSSDConfig==2.7.2
stack-data==0.3.0
svg.path==5.1
systemd-python==234
tabulate==0.8.9
TBB==0.2
team==1.0
tenacity==8.0.1
terminado==0.15.0
terminator==2.1.1
testtools==2.5.0
texttable==1.6.4
TLPUI==1.5.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.0
torbrowser-launcher==0.3.5
tornado==6.1
tqdm==4.64.0
traitlets==5.3.0
trimesh==3.9.31
trove-classifiers==2022.5.19
Twisted==21.7.0
typed-ast==1.5.4
typeguard==2.13.3
typing_extensions==4.2.0
udiskie==2.4.2
ujson==5.3.0
unrardll==0.1.5
urllib3==1.26.9
validate==5.1.0.dev0
validate-pyproject==0.9
variety==0.8.7
virtualenv==20.11.0
watchdog==0.10.7
wcwidth==0.2.5
webcolors==1.12
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==2.1.2
wrapt==1.14.1
WTForms==3.0.1
wurlitzer==3.0.2
wxPython==4.0.7.post2
xcffib==0.11.1
xiaomi-flashable-firmware-creator==2.2.7
xiaomi-flashable-firmware-creator-gui==2.3.11
yapf==0.32.0
yarl==1.7.2
yubikey-manager==4.0.8
zeroconf==0.38.4
zipfile-deflate64==0.2.0
zipp==3.8.0
zope.interface==5.4.0
zstandard==0.17.0
