@font-face {
    font-family: 'handwriting';
    src: url('fonts/journal-webfont.woff2') format('woff2'),
         url('fonts/journal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'typewriter';
    src: url('fonts/veteran_typewriter-webfont.woff2') format('woff2'),
         url('fonts/veteran_typewriter-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  font  : 1.3rem sans-serif;
  padding : 0.5em;
  margin  : 0;
}



input[type=text] {
  width: 300px;
}

.dataframe {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 30%;
  display:inline;
  border: 0px;
}

.dataframe td, .dataframe th {
  border: 3px solid rgb(221, 221, 221);
  padding: 5px;
}

.dataframe tr:nth-child(even){background-color: #f2f2f2;}

.dataframe tr:hover {background-color: #ddd;}

.dataframe th {
  text-align: left;
  
}

.dfirst th {
  background-color: #e0ecf4;
  color: black;
}
.dsecond th {
  background-color: #9ebcda;
  color: white;
}
.dthird th {
  background-color: #8856a7;
  color: white;
}



